{% extends 'layout.html'%}
  {% block content %}
  <h3>ADD Courses</h3>
  <form action="/courses/store/" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <a href="/courses" class="btn btn-dark mt-2">Back</a>
          </div>
          <div class="form-group">
            <strong class="form-control-label">รหัส:</strong>
            <input class="form-control" type="text" name="key">
          </div>
          <div class="form-group">
            <strong class="form-control-label">หัวข้อ:</strong>
            <input class="form-control" type="text" name="title">
          </div>
          <div class="form-group">
            <strong class="form-control-label">ชื่อ:</strong>
            <input class="form-control" type="text" name="name">
          </div>
          <div class="form-group">
            <strong class="form-control-label">รายระเอียด:</strong>
            <textarea class="form-control" name="text" rows="3"></textarea>
          </div>
          <div class="form-group">
            <strong class="form-control-label">หน่วยกิต:</strong>
            <input class="form-control" type="text" name="credit">
          </div>
          <div class="form-group">
            <strong class="form-control-label">รูปภาพ:</strong>
            <input class="form-control" type="text" name="img_path">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-info mt-2">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  {% endblock %}