{% extends 'layout.html'%}
      {% block content %}
      <h3>Dashboard</h3>
      <br>
      <div class="row">
      <div class="col-md-15 me-auto text-left">
        <h5>แหล่งรวบรวมข้อมูลหลักสูตรในระดับปริญญาโท ของหลักสูตรวิทยาศาสตรมหาบัณฑิต สาขาวิชาการพัฒนาซอฟต์แวร์ด้านธุรกิจ ไว้เพื่อเป็นแหล่งศึกษาข้อมูลรายวิชาได้รวดเร็วและสามารถเข้าถึงได้อย่างสะดวก</h5>
        <br>
        <h6>ปัจจุบันประเทศไทยยังขาดแคลนบุคลากรที่มีความรู้ความสามารถในสาขาเทคโนโลยีและคอมพิวเตอร์โดยเฉพาะบุคลากรที่มีความเชี่ยวชาญในด้านการพัฒนาซอฟต์แวร์ด้านธุรกิจ ภาควิชาสถิติได้เล็งเห็นความสำคัญ และความจำเป็นในการสนับสนุน การผลิตบุคลากรในสาขาการพัฒนาซอฟต์แวร์ด้านธุรกิจ จึงเสนอหลักสูตรนี้เพื่อตอบสนองความต้องการของประเทศในด้านนี้
ภาควิชาสถิติตระหนักถึงความขาดแคลนบุคลากรด้านนี้ประกอบกับภาควิชาสถิติ มีศักยภาพและความพร้อมในการผลิตบัณฑิต สาขาวิชาการพัฒนาซอฟต์แวร์ จึงเปิดสอนหลักสูตรขึ้นในปี พ.ศ.2546 สำหรับภาคปกติที่มีการเรียนการ
สอนในเวลาราชการ เมื่อเปิดหลักสูตรภาคปกติได้ 3 รุ่น ภาควิชาสถิติได้เปิดภาคนอกเวลาราชการซึ่งมีการเรียนการสอนในช่วงเย็นของวันธรรมดาและวันเสาร์ขึ้นในปี พ.ศ.2549
หลักสูตรวิทยาศาสตรมหาบัณฑิต สาขาวิชาการพัฒนาซอฟต์แวร์ด้านธุรกิจ มีวัตถุประสงค์เพื่อผลิตบุคลากรที่มีความรู้ความสามารถในการสร้างและพัฒนาซอฟต์แวร์ด้านธุรกิจ โดยเน้นเทคโนโลยีเชิงวัตถุ
ภาควิชาสถิติ คณะพาณิชยศาสตร์และการบัญชี คาดหวังว่าบัณฑิตของหลักสูตรฯ จะเป็นผู้มีความรู้ความสามารถและสามารถช่วยให้หน่วยงานทั้งภาครัฐและเอกชน สามารถมีกระบวนการพัฒนาซอฟต์แวร์ที่เป็นมาตรฐาน รวมทั้งสามารถสร้างงานวิจัยที่นำไปสู่การพัฒนาวิชาการด้านการพัฒนาซอฟต์แวร์ด้านธุรกิจ</h6><br>
      </div>
      </div>
      </div>
    {% endblock %}