{% extends 'layout.html'%}
      {% block content %}
      <h3>Links</h3>
      <div class="row">
      <div class="col-md-15 me-auto text-left">
        <h5>Links ที่เกี่ยวข้องกับการศึกษา</h5>
        <p>รวมการติดต่อและเว็บไซต์ที่เกี่ยวข้องการศึกษา</p><br>
      </div>
    </div>
    <div class="row">
    <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
        <a class="nav-link {{ craft_page }}" href=http://www.chula.ac.th/>
          <div class="card">
            <div class="card-body p-4">
              <div class="row">
                <div class="col-10">
                  <div class="numbers">
                    <p class="text-sm mb-0 text-capitalize font-weight-bold">เว็บไซต์มหาวิทยาลัย</p>
                    <h5 class="font-weight-bolder mb-0">
                      จุฬาลงกรณ์มหาวิทยาลัย
                      <br><span class="text-success text-sm font-weight-bolder">http://www.chula.ac.th/</span>
                    </h5>
                  </div>
                </div>
                <div class="col-4 text-end">
                  {% comment %} <div class="icon icon-shape bg-gradient-primary shadow text-center border-radius-md">
                    <i class="ni ni-money-coins text-lg opacity-10" aria-hidden="true"></i>
                  </div> {% endcomment %}
                </div>
              </div>
            </div>
          </div>
        </a>
    </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=http://www.cbs.chula.ac.th/>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">เว็บไซต์คณะ</p>
                      <h5 class="font-weight-bolder mb-0">
                        คณะพาณิชยศาสตร์และการบัญชี
                        <br><span class="text-success text-sm font-weight-bolder">http://www.cbs.chula.ac.th/</span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=https://stat.cbs.chula.ac.th/>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">เว็บไซต์ภาควิชา</p>
                      <h5 class="font-weight-bolder mb-0">
                        ภาควิชาสถิติ
                        <br><span class="text-success text-sm font-weight-bolder">https://stat.cbs.chula.ac.th/</span>
                      </h5>
                    </div>
                  </div>
                  <div class="col-4 text-end">
                  </div>
                </div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=https://bsd.cbs.chula.ac.th/>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">เว็บไซต์หลักสูตร</p>
                      <h5 class="font-weight-bolder mb-0">
                        สาขาวิชาการพัฒนาซอฟต์แวร์ด้านธุรกิจ
                        <br><span class="text-success text-sm font-weight-bolder">https://bsd.cbs.chula.ac.th/</span>
                      </h5>
                    </div>
                  </div>
                    <div class="col-4 text-end">
                    </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=https://bsd.cbs.chula.ac.th/>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">เจ้าหน้าที่ประจำหลักสูตร</p>
                      <h5 class="font-weight-bolder mb-0">
                        คุณสมพร (พี่บอย)
                        <br><span class="text-success text-sm font-weight-bolder">086-563-4370</span>
                      </h5>
                    </div>
                  </div>
                    <div class="col-4 text-end">
                    </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=https://www.reg.chula.ac.th/>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">เว็บไซต์สำนักงานการทะเบียน</p>
                      <h5 class="font-weight-bolder mb-0">
                        สำนักงานการทะเบียน
                        <br><span class="text-success text-sm font-weight-bolder">https://www.reg.chula.ac.th/</span>
                      </h5>
                    </div>
                  </div>
                    <div class="col-4 text-end">
                    </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=https://www.facebook.com/Bsdchula>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Social media</p>
                      <h5 class="font-weight-bolder mb-0">
                        @Bsdchula
                        <br><span class="text-success text-sm font-weight-bolder">Facebook officeal account</span>
                      </h5>
                    </div>
                  </div>
                      <div class="col-4 text-end">
                      </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=https://www.facebook.com/Bsdchula>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">Social media</p>
                      <h5 class="font-weight-bolder mb-0">
                        @bsdchula
                        <br><span class="text-success text-sm font-weight-bolder">LINE Official</span>
                      </h5>
                    </div>
                  </div>
                    <div class="col-4 text-end">
                    </div>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-xl-4 col-sm-2 mb-xl-4 mb-2">
          <a class="nav-link {{ craft_page }}" href=http://www.atc.chula.ac.th/>
            <div class="card">
              <div class="card-body p-4">
                <div class="row">
                  <div class="col-10">
                    <div class="numbers">
                      <p class="text-sm mb-0 text-capitalize font-weight-bold">ศูนย์ทดสอบทางวิชาการ</p>
                      <h5 class="font-weight-bolder mb-0">
                        คะแนนสอบภาษาอังกฤษ
                        <br><span class="text-success text-sm font-weight-bolder">http://www.atc.chula.ac.th/</span>
                      </h5>
                    </div>
                  </div>
                    <div class="col-4 text-end">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
    </div>
    {% endblock %}