{% extends 'layout.html'%}
  {% block content %}
  <h3>Courses</h3>
  <section class="py-3">
    <div class="row">
      <div class="col-md-15 me-auto text-left">
        <h5>โครงสร้างหลักสูตร</h5>
        <p>หลักสูตรวิทยาศาสตรมหาบัณฑิต สาขาวิชาการพัฒนาซอฟต์แวร์ด้านธุรกิจ เป็นหลักสูตรที่มี 2 แผนการศึกษา คือแผน ก และ แผน ข โดยมีหน่วยกิตรวมตลอดหลักสูตร 42 หน่วยกิต</p>
      </div>
    </div>
    <div class="row mt-lg-4 mt-2">
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="avatar avatar-xl bg-gradient-dark border-radius-md p-2">
                <img src="https://cdn-icons-png.flaticon.com/512/3226/3226453.png" alt="planA_logo">
              </div>
              <div class="ms-3 my-auto">
                <h6> หลักสูตรในเวลาราชการ </h6>
              </div>
              <div class="ms-auto">
              </div>
            </div>
            <p class="text-sm mt-3">วันจันทร์– ศุกร์เวลา 09.00 – 17.00 น.<br><br></p>
            <hr class="horizontal dark">
            <div class="row">
              <div class="col-6">
                <h6 class="text-sm mb-0"> แผน ก </h6>
                <p class="text-secondary text-sm font-weight-bold mb-0">เรียนในเวลาราชการ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-4">
        <div class="card">
          <div class="card-body p-4">
            <div class="d-flex">
              <div class="avatar avatar-xl bg-gradient-dark border-radius-md p-2">
                <img src="https://cdn-icons-png.flaticon.com/512/3226/3226413.png" alt="planB_logo">
              </div>
              <div class="ms-3 my-auto">
                <h6>หลักสูตรนอกเวลาราชการ</h6>
              </div>
              <div class="ms-auto">
              </div>
            </div>
            <p class="text-sm mt-3"> วันจันทร์– ศุกร์เวลา 18.00 – 21.00 น. <br> และวันเสาร์ เวลา 9.00 – 16.00 น </p>
            <hr class="horizontal dark">
            <div class="row">
              <div class="col-6">
                <h6 class="text-sm mb-0">แผน ข</h6>
                <p class="text-secondary text-sm font-weight-bold mb-0">เรียนนอกเวลาราชการ</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% endblock %}